.container {
    background-color: var(--medium-dark-blue);
    padding: 1.75rem 1.5rem 2.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.125rem;
    align-items: center;
}

.thanks-img {
    transform: scale(0.89);
}

.result {
    font-size: 0.875rem;
    background-color: var(--light-dark-blue);
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    color: #ca7335;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top:0.375rem;
}

.desc {
    font-size: 0.88rem;
    color: var(--medium-grey);
    text-align: center;
    margin-top: -0.625rem;
    line-height: 1.375rem;
}

@media (min-width: 40em) { /* 640px */
    .container {
        max-width: 25.825rem;
        border-radius: 2rem;
        padding: 2.75rem 2.5rem 2.8rem 2rem;
        row-gap: 1.75rem;
    }

    .thanks-img {
        transform: scale(1);
    }

    .result {
        font-size: 0.95rem;
        padding: 0.375rem 1.25rem 0.125rem 1.25rem;
        margin-top: 0.25rem;
        margin-right:-0.5rem;
    }

    .title {
        font-size: 1.7rem;
        margin-right:-0.375rem;
    }

    .desc {
        font-size: 0.94rem;
        margin-top: -1.3rem;
        line-height: 1.5rem;
    }
}