:root {
  /* Colors */
  --primary: #fb7413;
  --dark-blue: #121417;
  --medium-dark-blue: #1C2127;
  --light-dark-blue: #252d37;
  --medium-grey: #7c8798;
  --light-grey: #959eac;
}

body {
  background-color: var(--dark-blue);
}

main {
  margin: 1.5rem;
}